:root {
  --cor-0: #014180;
  --cor-1: #fff;
  --cor-2: #f9e500;
  --cor-3: #42424271;
  --cor-4: #424242;
  --cor-5: #ebebeb;
  --cor-6: #000;
  --cor-7: #636363;
  --cor-8: #00264d;
}

.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}

.cor-3 {
  color: var(--cor-3);
}

.cor-4 {
  color: var(--cor-4);
}

.cor-5 {
  color: var(--cor-5);
}

.cor-6 {
  color: var(--cor-6);
}

.cor-7 {
  color: var(--cor-7);
}

.cor-8 {
  color: var(--cor-8);
}
